#game-board {
  display: flex;
  width: 37.5rem;
  height: 37.5rem;
  background-color: transparent;
  flex-wrap: wrap;
  border: 1rem #004b4d;
  border-radius: 0.5rem; }

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: 12.5rem;
  background-color: #135d63;
  border: solid .5rem;
  border-radius: 2rem;
  border-color: #004b4d;
  box-sizing: border-box;
  cursor: pointer; }

.square:hover {
  border-color: #6C969E; }

.circle {
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  border: 15px solid #00eeff;
  box-sizing: border-box; }

.cross {
  height: 5.6rem;
  width: 5.6rem;
  position: relative;
  transform: rotate(45deg); }

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  background-color: #c8ff00;
  border-radius: 0.5rem; }

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%; }

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%; }

@media only screen and (max-width: 1440px) {
  #game-board {
    width: 18.75rem;
    height: 18.75rem; }

  .circle {
    height: 3.75rem;
    width: 3.75rem; }

  .cross {
    height: 3.75rem;
    width: 3.75rem; }

  .square {
    width: 6.25rem;
    height: 6.25rem;
    border: solid 0.2rem;
    border-radius: 1rem;
    border-color: #004b4d; } }
#btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36rem;
  height: 6rem; }

#choose-first-player-button, #next, #reset-button, #previous {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: button;
  background-color: #74a5aa;
  border: solid transparent;
  border-radius: 1rem;
  border-width: 0 0 0.25rem;
  box-sizing: border-box;
  color: #004b4d;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

#choose-first-player-button {
  width: 23rem;
  height: 4rem; }

#previous {
  width: 5rem;
  height: 4rem; }

#previous:after {
  background-clip: padding-box;
  background-color: #c8ff00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

#previous:main,
#previous:focus {
  user-select: auto; }

#previous:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1); }

#previous:disabled {
  cursor: auto; }

#next {
  width: 5rem;
  height: 4rem; }

#next:after {
  background-clip: padding-box;
  background-color: #00eeff;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

#next:main,
#next:focus {
  user-select: auto; }

#next:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1); }

#next:disabled {
  cursor: auto; }

#navigation-btn {
  display: flex;
  width: 10.5rem;
  justify-content: space-between; }

#choose-first-player-button:after {
  background-clip: padding-box;
  background-color: #8fc6d1;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

#choose-first-player-button:main,
#choose-first-player-button:focus {
  user-select: auto; }

#choose-first-player-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1); }

#choose-first-player-button:disabled {
  cursor: auto; }

#reset-button {
  width: 5rem;
  height: 4rem; }

#reset-button:after {
  background-clip: padding-box;
  background-color: #8fc6d1;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

#reset-button:main,
#reset-button:focus {
  user-select: auto; }

#reset-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1); }

#reset-button:disabled {
  cursor: auto; }

@media only screen and (max-width: 1440px) {
  #reset-button {
    padding: 1rem;
    font-size: 1rem;
    width: 3rem;
    height: 3rem; }

  #choose-first-player-button {
    padding: 1rem;
    font-size: 0.8rem;
    width: 12rem;
    height: 3rem;
    text-align: center; }

  #next {
    padding: 1rem;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin-left: 0.1rem; }

  #previous {
    padding: 1rem;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin-left: 0.4rem; } }
#myModal {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards; }

#modal-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 12rem;
  width: 18.75rem;
  background-color: #135d63;
  border-radius: 1rem; }

#modal-box span {
  margin-top: 1rem;
  margin-bottom: 1rem; }

#crossBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 5rem;
  border-radius: 1rem;
  border: transparent;
  background-color: #004b4d;
  cursor: pointer;
  font-size: 3.5rem;
  color: #8fc6d1;
  font-weight: bold;
  margin-bottom: .2rem; }

#circleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 5rem;
  border-radius: 1rem;
  border: .5rem solid #004b4d;
  background-color: #8fc6d1;
  cursor: pointer;
  font-size: 4rem;
  color: #004b4d;
  font-weight: bold; }

#circleBtn span {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.8rem solid #004b4d;
  box-sizing: border-box; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #004b4d;
  border: transparent;
  width: 100vw;
  height: 100vh;
  text-align: center; }

.question {
  font-size: 1.5rem;
  color: #8fc6d1; }

.go-first {
  font-size: 1rem;
  color: #8fc6d1; }

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004b4d;
  border-radius: 1rem; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@font-face {
  font-family: "Undertale";
  src: url("Undertale Font.ttf") format("truetype"), url("Undertale Font2.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body, body p, #title, #header-container {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  height: 100vh;
  flex-direction: column;
  background-color: #004b4d;
  font-family: "Rubik"; }

body p {
  width: 9rem;
  height: 3rem;
  background-color: #135d63;
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem; }

#title {
  font-family: "Undertale";
  color: #ffffff;
  text-shadow: 0.3rem 0.3rem #74a5aa;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  height: .5rem;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-bottom: 4rem;
  margin-top: 3rem; }

#info {
  margin-left: 0.8rem; }

#header-container {
  text-align: center;
  height: 6rem;
  width: 37rem; }

#header-container button {
  margin-left: 7rem; }

#header-container p {
  width: 8.7rem; }

#logo {
  background-color: transparent;
  margin-right: 1.2rem;
  width: 3rem; }

.cross-logo {
  font-size: 3.8rem;
  color: #c8ff00;
  margin-bottom: 0.3rem;
  font-weight: 1000; }

.circle-logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.8rem solid #00eeff;
  box-sizing: border-box; }

@media only screen and (max-width: 1440px) {
  #header-container {
    width: 18rem;
    height: 4rem; }

  #header-container button {
    margin-left: 3rem; }

  #header-container p {
    width: 7rem;
    margin-left: 0;
    height: 1.5rem;
    font-size: 1rem; }

  #logo {
    background-color: transparent;
    margin-right: 0;
    width: 2rem; }

  #info {
    margin-left: 0.1rem; }

  #header-container #info {
    font-size: 0.8rem; }

  #btn-container {
    width: 18.5rem;
    height: 4rem; }

  #title {
    font-size: 5rem;
    height: 1rem;
    margin-top: 0;
    margin-bottom: 2rem; }

  .cross-logo {
    font-size: 2.5rem;
    color: #c8ff00;
    margin-bottom: 0.3rem;
    font-weight: 1000; }

  .circle-logo {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.4rem solid #00eeff;
    box-sizing: border-box; } }
@media only screen and (max-width: 425px) {
  #title {
    font-size: 3rem; } }

/*# sourceMappingURL=style.css.map */
